<nav>
    <div class="nav-wrapper nav-bar">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#!" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Menu', menu_path %></li>
        <li><%= link_to 'Locations', location_path %></li>
        <li><%= link_to 'Catering', root_path %></li>
        <li><%= link_to 'About Us', about_path %></li>
        <li><%= link_to 'FAQ', faq_path %></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Menu', menu_path %></li>
        <li><%= link_to 'Locations', location_path %></li>
        <li><%= link_to 'Catering', root_path %></li>
        <li><%= link_to 'About Us', about_path %></li>
        <li><%= link_to 'FAQ', faq_path %></li>
    </div>
  </nav>