<div class="container">
  <div class="carousel carousel-slider font-carousel">
    <a class="carousel-item" href="#one!"><img <%= image_tag("good1.jpg")%>></a>
    <a class="carousel-item" href="#two!"><img <%= image_tag("good2.jpg")%>></a>
    <a class="carousel-item" href="#three!"><img <%= image_tag("good3.jpg")%>></a>

  </div>
  <div class="center-align">
    <%= link_to image_tag("2.jpg"), location_path %>
    <%= link_to image_tag("newsbanner.jpg"), about_path %>
    <%= link_to image_tag("4.jpg"), cater_path %>
  </div>  
</div>  

